<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Sporočila!</h1>
    <form method="post" action="/shrani">
        <p>Ime: <input name="ime" placeholder="Vaše ime"></p>
        <p>Sporočilo: <input name="sporocilo" placeholder="Vnesi sporočilo"></p>
        <button type="submit">Pošlji sporočilo</button>
    </form>
    <p>
        <a href="/vsa-sporocila">Vsa sporočila</a>
    </p>
</body>
</html>